# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
env/
venv/

# # Django database
# *.sqlite3
# db.sqlite3

# Log files
*.log

# VS Code settings (optional)
.vscode/

# Environment file
.env
